@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");
p {
  color: #d88e8e;
  font-size: 20px;
}

h1 {
  font-size: 18px;
}

h2 {
  font-size: 30px;
  font-weight: 800;
  text-align: center;
}

th {
  font-size: 20px;
}

form .error {
  color: #d88e8e;
}

tr, td, th {
  border: solid 1px #6b6868;
}

body {
  font-weight: 800;
  background-color: #6b6868;
  font-family: "Montserrat", sans-serif;
}

.custom {
  margin: 50px 0;
}

.modal {
  top: 25%;
  bottom: 25%;
  left: 35%;
  max-width: 500px;
  max-height: 250px;
  background-color: #e4cbe4;
}

label {
  font-size: 20px;
}

button {
  min-width: 300px;
  min-height: 50px;
  border-radius: 10px;
}

button:hover {
  background-color: #d88e8e;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  text-decoration: none;
  color: #d88e8e;
}

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 20px;
  transition: 0.4s;
  font-weight: 800;
}

.panel {
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
}

.modal a.close-modal {
  position: absolute;
  top: -2px;
  right: -2px;
  display: block;
}

/*# sourceMappingURL=style.scss.map */

/*# sourceMappingURL=style.css.map */
